body {
    background-image:url('backgroundf.jpg');
    color:aliceblue;
}
p{
    font-size: x-large;
    font-weight:400;
    color:black;}
h1{
text-align: center;

}
h2{
}
a{
   cursor:crosshair;
    font-size: larger;
    font-weight: 400;
}
.produse{
    font-size:xx-large;
    font-weight: 900;
}
.buton{
    background-color: aliceblue;
    text-align: center;
 color: black;
}
